.movie {
  background-color: $color-gray;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  margin: $base-unit*0.25 0;
  color: $color-white;
  min-height: 100px;
  padding: 0;
  position: relative;
  transition: min-height 0.65s, background-position 0.75s;

  &:hover {
    min-height: 400px;
    background-position: 0 -50px;
  }

  &.active {
    min-height: 500px;
    background-position: 0 -65px;
  }

  h2 {
    @include border-bottom-right-radius();
    background-color: $color-black;
    display: inline-block;
    font-size: $base-font*2;
    padding: $base-unit*0.25;
  }

  h3 {
    display: inline-block;
    font-size: $base-unit*0.55;
  }

  .corner-display {
    background-color: $color-black;
    padding: $base-unit*0.25;
    position: absolute;
    > span {
      font-size: $base-unit*1.15;
    }
  }

  .rank {
    bottom: 0;
    left: 0;
  }

  .release {
    top: 0;
    right: 0;
  }

  .tomato {
    bottom: 0;
    right: 0;
  }

  .window,
  nav {
    display: none;
  }
}

.movie.active {

  .window {
    background-color: $color-black;
    display: block;
    opacity: 0.75;
    padding: $base-unit*0.5;
    position: absolute;
    top: $base-unit * 4;
    right: $base-unit * 2;
    bottom: $base-unit * 2;
    // left: $base-unit * 10;
    width: 65%;
  }

  nav {
    background-color: $color-black;
    display: block;
    opacity: 0.75;
    padding: $base-unit*0.25;
    position: absolute;
    top: $base-unit * 4;
    // right: $base-unit * 2;
    bottom: $base-unit * 2;
    left: $base-unit * 2;
    width: 15%
  }

}
