// module: button
.but-row .but {
  margin-right: $base-unit;
}

%but,
.but {
  background: $color-ltgray;
  border: none;
  color: $color-dkblue;
  cursor: pointer;
  display: inline-block;
  padding: $base-unit/2 $base-unit;
  text-align: center;
  text-decoration: none;

  @include border-radius($base-rounded-corners);

  &.active,
  &:active {
    background: $color-green;
    color: $color-ltblue;
  }

  &:hover {
    background-color: $color-dkgray;
  }
}

.but[disabled] {
  opacity: 0.2;
}

.but.tab {
  @include border-top-radius($base-rounded-corners);

  &.active,
  &:active {
    font-weight: bold;
    background: $color-dkblue;
    color: $color-white;
  }

  &.hover,
  &:hover {
    font-weight: bold;
    background: $color-dkblue;
    color: $color-white;
  }
}

// movie
// ==================
.movie {
  background-color: $color-gray;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  margin: $base-unit*0.25 0;
  color: $color-white;
  min-height: 200px;
  padding: 0;
  position: relative;

  h2 {
    @include border-bottom-right-radius();
    background-color: $color-black;
    display: inline-block;
    font-size: $base-font*2;
    padding: $base-unit*0.25;
  }

  h3 {
    display: inline-block;
    font-size: $base-unit*0.55;
  }

  > span {
    background-color: $color-black;
    padding: $base-unit*0.25;
    position: absolute;
    > span {
      font-size: $base-unit*1.15;
    }
  }

  .rank {
    bottom: 0;
    left: 0;
  }

  .release {
    top: 0;
    right: 0;
  }

  .tomato {
    bottom: 0;
    right: 0;
  }
}

.movie-ant {
  background-image: url(assets/ant.jpg);
}

.movie-avengers {
  background-image: url(assets/avengers.jpg);
}

.movie-avengers2 {
  background-image: url(assets/avengers2.jpg);
}

.movie-cap {
  background-image: url(assets/cap.jpg);
}

.movie-cap2 {
  background-image: url(assets/cap2.jpg);
  background-position: 0 -230px;
}

.movie-cap3 {
  background-image: url(assets/cap3.jpg);
}

.movie-doctor {
  background-image: url(assets/doctor.jpg);
}

.movie-gotg {
  background-image: url(assets/gotg.jpg);
}

.movie-iron {
  background-image: url(assets/iron.jpg);
}

.movie-iron2 {
  background-image: url(assets/iron2.jpg);
}

.movie-iron3 {
  background-image: url(assets/iron3.jpg);
}

.movie-hulk {
  background-image: url(assets/hulk.jpg);
}

.movie-thor {
  background-image: url(assets/thor.jpg);
}

.movie-thor2 {
  background-image: url(assets/thor2.jpg);
}
