// movie
// ==================
.movie {
  background-color: $color-gray;
  background-size: cover;
  background-position: 0 0;
  margin: $base-unit*0.25 0;
  color: $color-white;
  min-height: 200px;
  padding: 0;
  position: relative;

  h2 {
    @include border-bottom-right-radius();
    background-color: $color-black;
    display: inline-block;
    font-size: $base-font*2;
    padding: $base-unit*0.25;
  }

  h3 {
    display: inline-block;
    font-size: $base-unit*0.55;
  }

  > span {
    background-color: $color-black;
    padding: $base-unit*0.25;
    position: absolute;
    > span {
      font-size: $base-unit*1.15;
    }
  }

  .rank {
    bottom: 0;
    left: 0;
  }

  .release {
    top: 0;
    right: 0;
  }

  .tomato {
    bottom: 0;
    right: 0;
  }
}

.movie-gotg {
  background-image: url(assets/gotg.jpg);
  background-repeat: no-repeat;
  background-position: 0 -10px;
}

.movie-cap3 {
  background-image: url(assets/cap3.jpg);
  background-repeat: no-repeat;
}

.movie-avengers2 {
  background-image: url(assets/avengers2.jpg);
  background-repeat: no-repeat;
}

.movie-cap2 {
  background-image: url(assets/cap2.jpg);
  background-repeat: no-repeat;
  background-position: 0 -230px;
}

.movie-iron3 {
  background-image: url(assets/iron3.jpg);
  background-repeat: no-repeat;
  background-position: 0 -100px;
}

.movie-ant {
  background-image: url(assets/ant.jpg);
  background-repeat: no-repeat;
}

.movie-iron2 {
  background-image: url(assets/iron2.jpg);
  background-repeat: no-repeat;
}

.movie-iron {
  background-image: url(assets/iron.jpg);
  background-repeat: no-repeat;
}

.movie-thor {
  background-image: url(assets/thor.jpg);
  background-repeat: no-repeat;
}

.movie-thor2 {
  background-image: url(assets/thor2.jpg);
  background-repeat: no-repeat;
}

.movie-avengers {
  background-image: url(assets/avengers.jpg);
  background-repeat: no-repeat;
}
