//variables
$color-black: #222525;
$color-dkblue: midnightblue;
$color-blue: dodgerblue;
$color-ltblue: deepskyblue;
$color-ltgreen: limegreen;
$color-green: seagreen;
$color-dkgreen: darkgreen;
$color-ltgray: lightgray;
$color-gray: slategray;
$color-dkgray: darkslategray;
$color-red: firebrick;
$color-purple: rebeccapurple;
$color-orange: tomato;
$color-white: white;

$base-unit: 1em;
$base-font: 16px;
$base-rounded-corners: 20px;
