<article>
  <app-tab-row
    [names]="sortTabs"
    (onSelectTab)="sortBy($event)"
  ></app-tab-row>
  <section
    *ngFor="let movie of movies | async"
    class="movie movie-{{movie.$key}}"
  >
    <h2>{{movie.title}}</h2>
    <span class="corner-display rank">
      <span>{{movie.rank}}</span>
      <h3>My Rank</h3>
    </span>
    <span class="corner-display release align-right">
      <span>{{movie.release | date}}</span><br>
      <h3>Release Date</h3>
    </span>
    <span class="corner-display tomato">
      <h3>Tomato</h3>
      <span>{{movie.tomato}}%</span>
    </span>
  </section>
</article>
