.tier > p {
  font-weight: bold;
  padding: 0.5rem;
  margin: 0;
}

.tier > .heading-phase {
  font-size: 2rem;
  text-align: center;
  margin: 0.05rem;
  padding: 0;
}

.tier-great {
  background-color: #3dad3c;
}

.tier-high {
  background-color: #9370ff;
}

.tier-good {
  background-color: red;
}

.tier-medium {
  background-color: #ff8100;
}

.tier-low {
  background-color: #787878;
  color: #efefef;
}
